Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

fix(geometry/convex-hull.md): 修正证明
  docs/geometry/convex-hull.md
Owners: none

style: format markdown files with remark-lint
  docs/geometry/convex-hull.md
Owners: none

fix(geometry/convex-hull.md): 修正证明中的错误
  docs/geometry/convex-hull.md
Owners: none

fix(geometry/convex-hull.md): 修正证明中的错误
  docs/geometry/convex-hull.md
Owners: none

fix(geometry/convex-hull.md): 修正笔误
  docs/geometry/convex-hull.md
Owners: none

fix(extra.css): 修改样式以修复 feedback-sys 中的代码块 bug
  docs/_static/css/extra.css
Owners: none

fix(extra.css): 修改样式以修复 feedback-sys 中的代码块 bug (#5836)
  docs/_static/css/extra.css
Owners: none

fix(mkdocs.yml): 修改extra.css版本
  mkdocs.yml
Owners: none

fix(mkdocs.yml): 修改extra.css版本 (#5837)
  mkdocs.yml
Owners: none

Update docs/geometry/convex-hull.md
  docs/geometry/convex-hull.md
Owners: none

style: format markdown files with remark-lint
  docs/geometry/convex-hull.md
Owners: none

fix(convex-hull.md): make bot happy
  docs/geometry/convex-hull.md
Owners: none

style: format markdown files with remark-lint
  docs/geometry/convex-hull.md
Owners: none

fix(convex-hull.md): make bot happy
  docs/geometry/convex-hull.md
Owners: none

Update convex-hull.md
  docs/geometry/convex-hull.md
Owners: none

feat(lct.md, splay.md): 增加lct时间复杂度，修改splay时间复杂度
  docs/ds/lct.md
  docs/ds/splay.md
Owners: none

style: format markdown files with remark-lint
  docs/ds/lct.md
  docs/ds/splay.md
Owners: none

fix: table display
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

chore: bump feedback-sys to 0.5.2
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: update feedback-sys to 0.5.2 (#5840)
  Pipfile
  Pipfile.lock
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

chore: bump feedback-sys to 0.5.3
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: bump feedback-sys to 0.5.3 (#5841)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

modify: add Skipped status
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

mod: use incolor wrapper
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

feat: use arrgen to shorten the testfile list
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

Revert "Reapply "remove: remove demo code for formal PR""
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

fix: unknown param bug
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

refactor: move fix to extra css
  docs/_static/css/extra.css
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
Owners: none

fix: broken compile commands
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

feat: feedback-sys v0.5.4
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: feedback-sys v0.5.4 (#5842)
  Pipfile
  Pipfile.lock
  docs/_static/css/extra.css
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

fix: broken path in windows
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

feat(basic/amortized-analysis.md): 增加均摊复杂度的说明和分析 (#5815)
  docs/basic/amortized-analysis.md
  docs/basic/complexity.md
  docs/ds/splay.md
  mkdocs.yml
Owners: none

remove commented filelist
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix: gnu++20 -> gnu++2a
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix gnu++20
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

replace _ with symbol
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

use gen(·)
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix param not found error
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

Update mst.md
  docs/graph/mst.md
Owners: none
