Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

style: format markdown files with remark-lint
  docs/graph/save.md
Owners: none

fix(splay.md): typo
  docs/ds/splay.md
Owners: none

fix(splay.md): typo (#6230)
  docs/ds/splay.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

fix(math/group-theory.md): 修正两处typo
  docs/math/algebra/group-theory.md
Owners: none

fix(math/group-theory.md): 修正两处typo (#6232)
  docs/math/algebra/group-theory.md
Owners: none

fix(lang/python): 增加了自增运算符的内容
  docs/lang/python.md
Owners: none

fix(dp/opt/quadrangle.md): typo
  docs/dp/opt/quadrangle.md
Owners: none

fix (docs/ds/bst.md):修改查找排名为 k 的元素代码中错误部分
  docs/ds/bst.md
Owners: none

fix(ds/bst.md)：修改有关错误代码
  docs/ds/bst.md
Owners: none

fix(dp/opt/quadrangle.md): typo (#6235)
  docs/dp/opt/quadrangle.md
Owners: none

fix(ds/bst.md): 修改有关错误代码 (#6237)
  docs/ds/bst.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

refactor(check-characters): 重构字符检查工作流
  .github/workflows/build.yml
  .github/workflows/check-characters.yml
  .github/workflows/test.yml
  docs/basic/images/prefix-sum-2d.tex
  docs/contest/oi.md.skipchars
  docs/contest/oi.skip_test
  docs/math/images/necklaces.tex
  scripts/README.md
  scripts/char-map.json
  scripts/check-characters.py
Owners: @billchenchina, @Ir1d

Update min-cycle.md
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

fix(graph/min-cycle): add spaces in collapsible blocks
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

fix(graph/min-cycle): remove extra ``` in collapsible blocks
  docs/graph/min-cycle.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/min-cycle.md
Owners: none

chore(workflows): update export build commands
  .github/workflows/build-pdf-typst.yml
  .github/workflows/build-pdf.yml
  .github/workflows/incrementally-build-pdf.yml
Owners: @Enter-tainer

chore(workflows): update export build commands
  .github/workflows/build-pdf-typst.yml
  .github/workflows/build-pdf.yml
  .github/workflows/incrementally-build-pdf.yml
Owners: @Enter-tainer

refactor(lang/new.md): 调整C++新特性章节的内容与顺序 (#6238)
  docs/lang/new.md
Owners: none

feat(euclidean.md): add universal euclidean
  docs/math/code/euclidean/euclidean-0.cpp
  docs/math/code/euclidean/euclidean-1.cpp
  docs/math/code/euclidean/euclidean-2.cpp
  docs/math/code/euclidean/euclidean-3.cpp
  docs/math/code/euclidean/euclidean-4.cpp
  docs/math/code/euclidean/euclidean-5.cpp
  docs/math/code/euclidean/euclidean-6.cpp
  docs/math/examples/euclidean/euclidean-0.ans
  docs/math/examples/euclidean/euclidean-0.in
  docs/math/examples/euclidean/euclidean-1.ans
  docs/math/examples/euclidean/euclidean-1.in
  docs/math/examples/euclidean/euclidean-2.ans
  docs/math/examples/euclidean/euclidean-2.in
  docs/math/examples/euclidean/euclidean-3.ans
  docs/math/examples/euclidean/euclidean-3.in
  docs/math/examples/euclidean/euclidean-4.ans
  docs/math/examples/euclidean/euclidean-4.in
  docs/math/examples/euclidean/euclidean-5.ans
  docs/math/examples/euclidean/euclidean-5.in
  docs/math/examples/euclidean/euclidean-6.ans
  docs/math/examples/euclidean/euclidean-6.in
  docs/math/number-theory/euclidean.md
Owners: none

feat: more exercises
  docs/math/number-theory/euclidean.md
Owners: none

fix: typo
  docs/math/number-theory/euclidean.md
Owners: none

style: use snippet section
  docs/ds/code/rbtree/rbtree.hpp
  docs/ds/code/rbtree/rbtree_1.cpp
  docs/ds/rbtree.md
Owners: none

refactor(wblt.md): rewrite
  docs/ds/code/wblt/wblt-1.cpp
  docs/ds/code/wblt/wblt-2.cpp
  docs/ds/code/wblt/wblt_1.cpp
  docs/ds/code/wblt/wblt_2.cpp
  docs/ds/examples/wblt/wblt-1.ans
  docs/ds/examples/wblt/wblt-1.in
  docs/ds/examples/wblt/wblt-2.ans
  docs/ds/examples/wblt/wblt-2.in
  docs/ds/examples/wblt/wblt_1.ans
  docs/ds/examples/wblt/wblt_1.in
  docs/ds/examples/wblt/wblt_2.ans
  docs/ds/examples/wblt/wblt_2.in
  docs/ds/images/wblt-1.svg
  docs/ds/images/wblt-2.svg
  docs/ds/images/wblt-3.svg
  docs/ds/images/wblt-4.svg
  docs/ds/images/wblt-5.svg
  docs/ds/images/wblt-6.svg
  docs/ds/images/wblt-7.svg
  docs/ds/images/wblt-balance.svg
  docs/ds/images/wblt-balance.tex
  docs/ds/images/wblt-insert-delete.svg
  docs/ds/images/wblt-insert-delete.tex
  docs/ds/images/wblt-param-range.svg
  docs/ds/images/wblt-param-range.tex
  docs/ds/wblt.md
Owners: none

feat(slope-trick.md): add slope trick
  docs/dp/code/opt/slope-trick/landscaping.cpp
  docs/dp/code/opt/slope-trick/safety.cpp
  docs/dp/code/opt/slope-trick/sequence.cpp
  docs/dp/code/opt/slope-trick/stock.cpp
  docs/dp/examples/opt/slope-trick/landscaping.ans
  docs/dp/examples/opt/slope-trick/landscaping.in
  docs/dp/examples/opt/slope-trick/safety.ans
  docs/dp/examples/opt/slope-trick/safety.in
  docs/dp/examples/opt/slope-trick/sequence.ans
  docs/dp/examples/opt/slope-trick/sequence.in
  docs/dp/examples/opt/slope-trick/stock.ans
  docs/dp/examples/opt/slope-trick/stock.in
  docs/dp/images/slope-trick/epigraph-convex-def.svg
  docs/dp/images/slope-trick/epigraph-convex-def.tex
  docs/dp/images/slope-trick/epigraph-convex-discrete.svg
  docs/dp/images/slope-trick/epigraph-convex-discrete.tex
  docs/dp/images/slope-trick/epigraph-convex-kinks.svg
  docs/dp/images/slope-trick/epigraph-convex-kinks.tex
  docs/dp/images/slope-trick/epigraph-convex-minkowski.svg
  docs/dp/images/slope-trick/epigraph-convex-minkowski.tex
  docs/dp/opt/slope-trick.md
  mkdocs.yml
Owners: none
