Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

refactor(product.md)：重构页面，修正符号使用，调整章节，新增部分性质
  docs/math/linear-algebra/product.md
Owners: none

style: format markdown files with remark-lint
  docs/math/linear-algebra/product.md
Owners: none

fix(product.md): 将 \R 替换为 \mathbf{R}
  docs/math/linear-algebra/product.md
Owners: none

fix(pollard-rho): 修正typo
  docs/math/number-theory/pollard-rho.md
Owners: none

fix(dp/opt/quadrangle): 修改typo
  docs/dp/opt/quadrangle.md
Owners: none

fix(dp/opt/quadrangle): typo (#5881)
  docs/dp/opt/quadrangle.md
Owners: none

feat(graph/matrix-tree): 补充证明细节，调整文章结构
  docs/graph/matrix-tree.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/matrix-tree.md
Owners: none

fix(matrix-tree.md): 稍微调整格式
  docs/graph/matrix-tree.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/matrix-tree.md
Owners: none

fix(matrix-tree): 修改 typo
  docs/graph/matrix-tree.md
Owners: none

style: format markdown files with remark-lint
  docs/graph/matrix-tree.md
Owners: none

fix(matrix-tree.md): en-dash
  docs/graph/matrix-tree.md
Owners: none

fix(basic.md): typo
  docs/math/number-theory/basic.md
Owners: none

fix(basic.md): typo (#5883)
  docs/math/number-theory/basic.md
Owners: none

feat(product.md): 新增外积满足 Jacobi 恒等式
  docs/math/linear-algebra/product.md
Owners: none

chore: only run on master
  .github/workflows/build.yml
Owners: @billchenchina

chore: only run on master (#5884)
  .github/workflows/build.yml
Owners: @billchenchina

fix(product.md): indent
  docs/math/linear-algebra/product.md
Owners: none

style: format markdown files with remark-lint
  docs/math/linear-algebra/product.md
Owners: none

refactor(math/linear-algebra/product.md): 重构页面，修正符号使用，调整章节，新增部分性质 (#5880)
  docs/math/linear-algebra/product.md
Owners: none

fix(matrix-tree): notation changes
  docs/graph/matrix-tree.md
Owners: none

Apply suggestions from code review
  .github/workflows/build-pdf.yml
  .github/workflows/incrementally-build-pdf.yml
Owners: @Enter-tainer

remove blank line
  .github/workflows/incrementally-build-pdf.yml
Owners: none

fix(latex): 无视风险，继续访问 (#5877)
  .github/workflows/build-pdf.yml
  .github/workflows/incrementally-build-pdf.yml
Owners: @Enter-tainer

fix(docs/string/hash): 修改一处 latex 书写错误
  docs/string/hash.md
Owners: none

fix(docs/string/hash.md): typo
  docs/string/hash.md
Owners: none

fix(basic/prefix-sum.md): 增加多维前缀和部分的可读性
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
  docs/basic/prefix-sum.md
Owners: none

style: format markdown files with remark-lint
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
  docs/basic/prefix-sum.md
Owners: none

fix(basic/prefix-sum): 增加 include 语句
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

style: format markdown files with remark-lint
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

fix(prefix-sum): 添加函数体
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

style: format markdown files with remark-lint
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

fix(prefix-sum): 增加 main 函数
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

style: format markdown files with remark-lint
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

fix(prefix-sum): 添加样例
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
  docs/basic/examples/prefix-sum/prefix-sum_4.ans
  docs/basic/examples/prefix-sum/prefix-sum_4.in
  docs/basic/examples/prefix-sum/prefix-sum_5.ans
  docs/basic/examples/prefix-sum/prefix-sum_5.in
Owners: none

fix(prefix-sum): include<iostream>
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

fix(prefix-sum): 添加std
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

fix(prefix-sum): debug
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

style: format markdown files with remark-lint
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none
