Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

test
  docs/string/code/trie/trie_1.cpp
Owners: none

feat: more rules
  docs/intro/format.md
Owners: none

feat(docs/ds/wavelet-matrix.md): 删除万能头
  docs/ds/code/wavelet-matrix/wavelet-matrix_1.cpp
Owners: none

style: format markdown files with remark-lint
  docs/ds/code/wavelet-matrix/wavelet-matrix_1.cpp
Owners: none

feat(docs/ds/wavelet-matrix.md): 修复 msvc popcount
  docs/ds/code/wavelet-matrix/wavelet-matrix_1.cpp
Owners: none

feat(docs/ds/wavelet-matrix.md): 修复 msvc popcount
  docs/ds/code/wavelet-matrix/wavelet-matrix_1.skip_test
Owners: none

ci: ignore warnings about scanf (#5921)
  docs/string/code/trie/trie_1.cpp
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

feat: update feedback-sys to v0.5.12
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: update feedback-sys to v0.5.12 (#5922)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat(math/algebra/ring-theory): 补充环论内容
  docs/math/algebra/group-theory.md
  docs/math/algebra/ring-theory.md
Owners: none

style: format markdown files with remark-lint
  docs/math/algebra/ring-theory.md
Owners: none

fix(math/algebra/ring-theory): fix link
  docs/math/algebra/ring-theory.md
Owners: none

style: format markdown files with remark-lint
  docs/math/algebra/ring-theory.md
Owners: none

fix(ring-theory): fix latex title
  docs/math/algebra/ring-theory.md
Owners: none

style: format markdown files with remark-lint
  docs/math/algebra/ring-theory.md
Owners: none

feat(ring-theory): add content
  docs/math/algebra/ring-theory.md
Owners: none

style: format markdown files with remark-lint
  docs/math/algebra/ring-theory.md
Owners: none

feat: 代码格式要求 (#5912)
  docs/intro/format.md
Owners: none

feat: Improve ub-check Process (#5916)
  .github/workflows/test.yml
  scripts/sum-up.py
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix(tree-center.md): 按要求添加了行间代码 fix(mkdocs.yml): 按要求调整了树的中心的位置（同时将树的重心放在中心后，因为本人认为这样更合适）
  docs/graph/tree-center.md
  mkdocs.yml
Owners: none

fix(matrix-tree): typo
  docs/graph/matrix-tree.md
Owners: none

fix(matrix-tree): typo (#5923)
  docs/graph/matrix-tree.md
Owners: none

fix: header
  docs/contest/common-tricks.md
  docs/dp/number.md
  docs/dp/plug.md
  docs/dp/probability.md
  docs/ds/bit-in-block-array.md
  docs/ds/code/li-chao-tree/li-chao-tree_1.cpp
  docs/ds/divide-combine.md
  docs/ds/skiplist.md
  docs/ds/treap.md
  docs/geometry/distance.md
  docs/graph/dmst.md
  docs/graph/dsu-on-tree.md
  docs/graph/graph-matching/bigraph-match.md
  docs/graph/graph-matching/general-match.md
  docs/graph/mdst.md
  docs/graph/tree-divide.md
  docs/lang/new.md
  docs/lang/pb-ds/pq.md
  docs/lang/pb-ds/tree.md
  docs/lang/python.md
  docs/math/combinatorics/partition.md
  docs/math/number-theory/euclidean.md
  docs/misc/mo-algo-on-tree.md
  docs/topic/rmq.md
Owners: none

fix: no `#define int long long`
  docs/ds/code/ett/ett_1.cpp
  docs/ds/lct.md
  docs/graph/code/tree-divide/tree-divide_2.cpp
  docs/math/number-theory/euclidean.md
  docs/misc/code/modifiable-mo-algo/modifiable-mo-algo_1.cpp
Owners: none

style: tiny change
  docs/contest/common-mistakes.md
Owners: none

fix: no `inline` & `register`
  docs/ds/code/seg-beats/seg-beats_4.cpp
  docs/ds/code/seg/seg_8.cpp
  docs/geometry/code/scanning/scanning_2.cpp
  docs/geometry/code/scanning/scanning_3.cpp
  docs/graph/code/bcc/bcc_4.cpp
  docs/graph/code/tree-divide/tree-divide_3.cpp
  docs/graph/graph-matching/general-weight-match.md
  docs/lang/csl/bitset.md
  docs/math/code/combinatorics/cantor/cantor_1.cpp
  docs/math/code/combinatorics/graph-enumeration/graph-enumeration_1.cpp
  docs/math/code/combinatorics/graph-enumeration/graph-enumeration_2.cpp
  docs/misc/code/modifiable-mo-algo/modifiable-mo-algo_1.cpp
Owners: none

fix: operator overriding
  docs/ds/global-bst.md
  docs/geometry/code/3d/3d_1.cpp
  docs/geometry/inverse.md
  docs/lang/class.md
  docs/lang/csl/associative-container.md
  docs/lang/op-overload.md
  docs/misc/code/cdq-divide/cdq-divide_1.cpp
Owners: none

fix: aggregate initialization
  docs/ds/divide-combine.md
  docs/ds/hash.md
  docs/graph/flow/min-cost.md
  docs/graph/mst.md
  docs/lang/python.md
  docs/misc/discrete.md
  docs/misc/mo-algo-on-tree.md
Owners: none

style: reduce usage of `#define`
  docs/basic/code/prefix-sum/prefix-sum_3.cpp
  docs/dp/code/dag/dag_1.cpp
  docs/dp/code/opt/quadrangle/quadrangle_2.cpp
  docs/dp/number.md
  docs/ds/code/ett/ett_1.cpp
  docs/ds/code/leafy-tree/leafy-tree_1.cpp
  docs/ds/code/li-chao-tree/li-chao-tree_1.cpp
  docs/ds/code/monotonous-queue/monotonous-queue_1.cpp
  docs/ds/code/seg/seg_2.cpp
  docs/ds/code/treap/treap_1.cpp
  docs/ds/global-bst.md
  docs/ds/leafy-tree.md
  docs/geometry/code/scanning/scanning_1.cpp
  docs/geometry/scanning.md
  docs/graph/code/2-sat/2-sat_1.cpp
  docs/graph/code/bfs/bfs_1.cpp
  docs/graph/code/lca/lca_1.cpp
  docs/graph/dmst.md
  docs/graph/flow/max-flow.md
  docs/graph/flow/min-cost.md
  docs/graph/graph-matching/general-weight-match.md
  docs/graph/matrix-tree.md
  docs/lang/pb-ds/pq.md
  docs/lang/pb-ds/tree.md
  docs/math/bignum.md
  docs/math/code/combinatorics/graph-enumeration/graph-enumeration_1.cpp
  docs/math/code/combinatorics/graph-enumeration/graph-enumeration_2.cpp
  docs/search/code/opt/opt_1.cpp
  docs/string/code/ac-automaton/ac-automaton_topu.cpp
  docs/string/code/ac-automaton/ac_automaton_luoguP2292.cpp
  docs/string/general-sam.md
Owners: none

fix: nullptr
  docs/basic/radix-sort.md
  docs/graph/mst.md
  docs/math/linear-algebra/char-poly.md
Owners: none

fix: format specifier
  docs/lang/csl/string.md
  docs/math/number-theory/discrete-logarithm.md
Owners: none

style: format markdown files with remark-lint
  docs/dp/number.md
  docs/ds/code/ett/ett_1.cpp
  docs/ds/code/seg-beats/seg-beats_4.cpp
  docs/ds/huffman-tree.md
  docs/ds/lct.md
  docs/ds/llrbt.md
  docs/graph/code/tree-divide/tree-divide_2.cpp
  docs/lang/pb-ds/pq.md
  docs/lang/pb-ds/tree.md
  docs/math/number-theory/euclidean.md
  docs/misc/odt.md
Owners: none

style: remove extra space
  docs/ds/block-list.md
  docs/ds/sqrt-tree.md
  docs/geometry/triangulation.md
  docs/graph/flow/max-flow.md
  docs/graph/graph-matching/bigraph-match.md
  docs/graph/graph-matching/bigraph-weight-match.md
  docs/graph/graph-matching/general-match.md
  docs/graph/save.md
  docs/graph/shortest-path.md
  docs/lang/csl/container-adapter.md
  docs/lang/csl/container.md
  docs/lang/csl/pair.md
  docs/lang/new.md
  docs/lang/pb-ds/pq.md
  docs/lang/pb-ds/tree.md
  docs/math/berlekamp-massey.md
  docs/math/numerical/gauss.md
  docs/tools/testlib/generator.md
Owners: none

fix: remove extra `#if`
  docs/ds/code/persistent-balanced/persistent-wblt.cpp
Owners: none

fix: tiny change
  docs/ds/code/ett/ett_1.cpp
  docs/ds/huffman-tree.md
  docs/graph/code/tree-divide/tree-divide_2.cpp
  docs/math/number-theory/euclidean.md
Owners: none

fix: make MacOS happy
  docs/ds/code/leafy-tree/leafy-tree_1.cpp
  docs/ds/leafy-tree.md
Owners: none

feat(math/permutation): add contents to permutation page
  docs/math/algebra/basic.md
  docs/math/algebra/ring-theory.md
  docs/math/permutation.md
Owners: none

style: format markdown files with remark-lint
  docs/math/algebra/basic.md
  docs/math/permutation.md
Owners: none

feat(permutation): add codes and examples
  docs/math/code/permutation/inversion_1.cpp
  docs/math/code/permutation/inversion_2.cpp
  docs/math/examples/permutation/inversion_1.ans
  docs/math/examples/permutation/inversion_1.in
  docs/math/examples/permutation/inversion_2.ans
  docs/math/examples/permutation/inversion_2.in
  docs/math/permutation.md
Owners: none

style: format markdown files with remark-lint
  docs/math/code/permutation/inversion_1.cpp
  docs/math/code/permutation/inversion_2.cpp
  docs/math/permutation.md
Owners: none
