Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

style: format markdown files with remark-lint
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix: 改几个字
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

refactor: 优化证明
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

style: format markdown files with remark-lint
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix: 修复爆炸的 latex
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

style: format markdown files with remark-lint
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix: 修正了“其他关系”板块中取整表达式的错误
  docs/math/combinatorics/derangement.md
Owners: none

chore: bump feedback-sys version to 0.3.1
  Pipfile
  package.json
Owners: @Ir1d, @Enter-tainer, @Junyan721113

chore: update lock file
  Pipfile.lock
  yarn.lock
Owners: none

chore: bump feedback-sys version to 0.3.1 (#5807)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

Update li-chao-tree.md
  docs/ds/li-chao-tree.md
Owners: none

style: format markdown files with remark-lint
  docs/ds/li-chao-tree.md
Owners: none

fix(ds/li-chao-tree.md)：修正了格式
  docs/ds/li-chao-tree.md
Owners: none

Update ac-automaton.md
  docs/string/ac-automaton.md
Owners: none

Update container.md
  docs/lang/csl/container.md
Owners: none

style: format markdown files with remark-lint
  docs/lang/csl/container.md
Owners: none

Update container.md
  docs/lang/csl/container.md
Owners: none

style: format markdown files with remark-lint
  docs/lang/csl/container.md
Owners: none

fix(li-chao-tree.md): 统一了与前文代码不同的标识符，补充了不同部分的代码
  docs/ds/li-chao-tree.md
Owners: none

style: format markdown files with remark-lint
  docs/ds/li-chao-tree.md
Owners: none

refactor(misc/odt.md): 重写珂朵莉树页面 (#5759)
  docs/misc/odt.md
Owners: none

Update monotonous-queue-stack.md
  docs/dp/opt/monotonous-queue-stack.md
Owners: none

style: format markdown files with remark-lint
  docs/dp/opt/monotonous-queue-stack.md
Owners: none

Update monotonous-queue-stack.md
  docs/dp/opt/monotonous-queue-stack.md
Owners: none

style: format markdown files with remark-lint
  docs/dp/opt/monotonous-queue-stack.md
Owners: none

fix(contest/problems.md): 删除无意义内容
  docs/contest/problems.md
Owners: none

style: format markdown files with remark-lint
  docs/contest/problems.md
Owners: none

feat(basic/amortized-analysis.md): 增加均摊复杂度的说明和分析
  docs/basic/amortized-analysis.md
  docs/basic/complexity.md
  mkdocs.yml
Owners: none

style: format markdown files with remark-lint
  docs/basic/amortized-analysis.md
Owners: none

fix(splay.md): 修改splay中的原引用链接
  docs/ds/splay.md
Owners: none

Update monotonous-queue-stack.md
  docs/dp/opt/monotonous-queue-stack.md
Owners: none

feat: more log in update feedback sys meta
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

feat: gray test
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

feat: update version tag
  mkdocs.yml
Owners: none

feat: permanently store test state
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

feat: more log in update feedback sys meta (#5816)
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

feat: feedback-system gray test (#5817)
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
Owners: none

fix: 修正了“其他关系”板块中取整表达式的错误 (#5806)
  docs/math/combinatorics/derangement.md
Owners: none

fix: bad quote
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

fix: path encoding in update feedback-sys meta (#5818)
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina
