Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

fix(prefix-sum): 代码转为文件内代码块
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
Owners: none

fix(prefix-sum): 删除样例文件
  docs/basic/examples/prefix-sum/prefix-sum_4.ans
  docs/basic/examples/prefix-sum/prefix-sum_4.in
  docs/basic/examples/prefix-sum/prefix-sum_5.ans
  docs/basic/examples/prefix-sum/prefix-sum_5.in
  docs/basic/prefix-sum.md
Owners: none

style: format markdown files with remark-lint
  docs/basic/prefix-sum.md
Owners: none

fix(prefix-sum): 调整部分语句
  docs/basic/prefix-sum.md
Owners: none

feat(math/matroid.md): 添加拟阵
  docs/math/matroid.md
  mkdocs.yml
Owners: none

fix(math/matroid.md): 修正一些数学公式
  docs/math/matroid.md
Owners: none

style: format markdown files with remark-lint
  docs/math/matroid.md
Owners: none

feat: switch to feedback sys production endpoint
  scripts/pre-build/install-feedback-sys-frontend.ts
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

chore: bump to v0.5.7
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: switch to feedback sys production endpoint (#5888)
  Pipfile
  Pipfile.lock
  package.json
  scripts/pre-build/install-feedback-sys-frontend.ts
  scripts/update-feedback-sys-meta.py
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113, @billchenchina

chore: bump feedback sys to v0.5.8
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

chore: bump feedback sys to v0.5.8 (#5889)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

fix(prefix-sum): 添加二位前缀和的示例
  docs/basic/images/prefix-sum-2d.png
  docs/basic/prefix-sum.md
Owners: none

fix(prefix-sum.md): indent
  docs/basic/prefix-sum.md
Owners: none

Update prefix-sum.md
  docs/basic/prefix-sum.md
Owners: none

fix(prefix-sum): 删掉代码块 tab
  docs/basic/prefix-sum.md
Owners: none

fix(prefix-sum): indent
  docs/basic/prefix-sum.md
Owners: none

style: format markdown files with remark-lint
  docs/basic/prefix-sum.md
Owners: none

fix(prefix-sum): 调整词句，添加生成图片 tex 文档
  docs/basic/images/prefix-sum-2d.tex
  docs/basic/prefix-sum.md
Owners: none

feat(math/number-theory/euler-totient): 补充应用部分，修正少量格式
  docs/math/number-theory/euler-totient.md
Owners: none

style: format markdown files with remark-lint
  docs/math/number-theory/euler-totient.md
Owners: none

fix(euler-totient): typo
  docs/math/number-theory/euler-totient.md
Owners: none

style: format markdown files with remark-lint
  docs/math/number-theory/euler-totient.md
Owners: none

Update bm.md
  docs/string/bm.md
Owners: none

style: format markdown files with remark-lint
  docs/string/bm.md
Owners: none

Update bm.md
  docs/string/bm.md
Owners: none

style: format markdown files with remark-lint
  docs/string/bm.md
Owners: none

fix(lang/csl/iterator.md): BidirectionalIterator required only with negative n
  docs/lang/csl/iterator.md
Owners: none

Update bm.md
  docs/string/bm.md
Owners: none

fix(lang/csl/iterator.md): BidirectionalIterator required only with negative n (#5892)
  docs/lang/csl/iterator.md
Owners: none

fix(prefix-sum): 将代码移除文本，添加样例
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
  docs/basic/examples/prefix-sum/prefix-sum_4.ans
  docs/basic/examples/prefix-sum/prefix-sum_4.in
  docs/basic/examples/prefix-sum/prefix-sum_5.ans
  docs/basic/examples/prefix-sum/prefix-sum_5.in
  docs/basic/prefix-sum.md
Owners: none

fix(prefix-sum): add space between consecutive >'s
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
Owners: none

fix(prefix-sum): hide code block
  docs/basic/prefix-sum.md
Owners: none

Update docs/math/number-theory/euler-totient.md
  docs/math/number-theory/euler-totient.md
Owners: none

fix: use SVG
  docs/basic/images/prefix-sum-2d.png
  docs/basic/images/prefix-sum-2d.svg
  docs/basic/images/prefix-sum-2d.tex
  docs/basic/prefix-sum.md
Owners: none

Update prefix-sum-2d.svg
  docs/basic/images/prefix-sum-2d.svg
Owners: none

Update prefix-sum-2d.tex
  docs/basic/images/prefix-sum-2d.tex
Owners: none

fix(prefix-sum): image too small
  docs/basic/prefix-sum.md
Owners: none

undo previous commit
  docs/basic/prefix-sum.md
Owners: none

perf(basic/prefix-sum.md): 提高多维前缀和部分的可读性 (#5886)
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/basic/code/prefix-sum/prefix-sum_5.cpp
  docs/basic/examples/prefix-sum/prefix-sum_4.ans
  docs/basic/examples/prefix-sum/prefix-sum_4.in
  docs/basic/examples/prefix-sum/prefix-sum_5.ans
  docs/basic/examples/prefix-sum/prefix-sum_5.in
  docs/basic/images/prefix-sum-2d.svg
  docs/basic/images/prefix-sum-2d.tex
  docs/basic/prefix-sum.md
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci
