Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

style: format markdown files with remark-lint
  docs/graph/mst.md
Owners: none

fix param not found in gen()
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

implement concat for gen() + gen() scenario
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

Reapply "Reapply "remove: remove demo code for formal PR""
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

feat(string/sa.md): 修改文献为OI-wiki内部链接
  docs/string/sa.md
Owners: none

fix: wrong name
  docs/string/sa.md
Owners: none

style: format markdown files with remark-lint
  docs/string/sa.md
Owners: none

feat(string/sa.md): 更换文章源 (#5827)
  docs/string/sa.md
Owners: none

doc(string-bm): remove unnecessary wording
  docs/string/bm.md
Owners: none

doc(string-bm): remove unnecessary wording
  docs/string/bm.md
Owners: none

Update wsl.md
  docs/tools/wsl.md
Owners: none

style: format markdown files with remark-lint
  docs/string/bm.md
Owners: none

style: format markdown files with remark-lint
  docs/tools/wsl.md
Owners: none

feat: feedback-sys v0.5.5
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: feedback-sys v0.5.5 (#5847)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: feedback-sys v0.5.6
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: feedback-sys v0.5.6 (#5848)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

fix(math/combinatorics/stirling.md): 同一行第一类斯特林数的求法增加站内链接
  docs/math/combinatorics/stirling.md
Owners: none

style: format markdown files with remark-lint
  docs/math/combinatorics/stirling.md
Owners: none

fix: 链接格式修正
  docs/math/combinatorics/stirling.md
Owners: none

fix(math/combinatorics/stirling.md): 同一行第一类斯特林数的求法增加站内链接 (#5849)
  docs/math/combinatorics/stirling.md
Owners: none

feat(dp/tree.md): 添加树形 DP 常见状态和转移思路
  docs/dp/tree.md
Owners: none

fix: 使用更一般的结论
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix: newline at EOL
  scripts/correctness_check.py
Owners: @Ir1d, @billchenchina

style
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

style
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix(sqrt-decomposition.md): tiny change
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

feat(math/number-theory/sqrt-decomposition.md): 增加数论分块的拓展 & 改动部分格式 (#5805)
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

windows-latest -> windows-2022
  .github/workflows/test.yml
  scripts/sum-up.py
Owners: @Ir1d, @billchenchina

feat: UB check (#5821)
  .github/workflows/test.yml
  scripts/correctness_check.py
  scripts/get_files_to_test.py
  scripts/sum-up.py
  scripts/test.py
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix(string-bm): edit wordings
  docs/string/bm.md
Owners: none

Update basic.md
  docs/dp/basic.md
Owners: none

feat: delete action
  .github/workflows/Gitee.yml
  .github/workflows/build-authors-cache.yml
  .github/workflows/build-pdf-typst.yml
  .github/workflows/build-pdf.yml
  .github/workflows/build.yml
  .github/workflows/celebration.yml
  .github/workflows/check-characters.yml
  .github/workflows/check-format.yml
  .github/workflows/check-quotes.yml
  .github/workflows/check-scripts.yml
  .github/workflows/config_test.yml
  .github/workflows/incrementally-build-pdf.yml
  .github/workflows/lint_pr_title.yml
  .github/workflows/pr-stale.yml
  .github/workflows/test.yml
Owners: @Menci, @Enter-tainer, @billchenchina, @ouuan, @CoelacanthusHex

Update basic.md
  docs/dp/basic.md
Owners: none

Update basic.md
  docs/dp/basic.md
Owners: none

Update basic.md
  docs/dp/basic.md
Owners: none

fix: docs/tools/editor/cpeditor.md 修改错误的作者名称
  .github/workflows/incrementally-build-pdf.yml
  docs/tools/editor/cpeditor.md
Owners: none

fix(mkdocs.yml): 将 Top Tree 移至一级数据结构页面 (#5844)
  mkdocs.yml
Owners: none

fix(.github/workflows/incrementally-build-pdf.yml): 修复下载 cm-unicode.zip 时 SSL 问题的同时换源以移除不安全的 --no-check-certificate 选项
  .github/workflows/incrementally-build-pdf.yml
Owners: none

revert(.github/workflows/incrementally-build-pdf.yml): 回退更改，这个源是重定向到原来的源的
  .github/workflows/incrementally-build-pdf.yml
Owners: none
