Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

Update value-category.md
  docs/lang/value-category.md
Owners: none

Update value-category.md
  docs/lang/value-category.md
Owners: none

Update value-category.md
  docs/lang/value-category.md
Owners: none

style: format markdown files with remark-lint
  docs/lang/value-category.md
Owners: none

fix(pollard-rho): add reference
  docs/math/number-theory/pollard-rho.md
Owners: none

style: format markdown files with remark-lint
  docs/math/number-theory/pollard-rho.md
Owners: none

Update value-category.md
  docs/lang/value-category.md
Owners: none

style: format markdown files with remark-lint
  docs/lang/value-category.md
Owners: none

Update pollard-rho.md 修正细节描述
  docs/math/number-theory/pollard-rho.md
Owners: none

fix(li-chao-tree.md): 统一了合并的代码。
  docs/ds/li-chao-tree.md
Owners: none

Update value-category.md
  docs/lang/value-category.md
Owners: none

fix(ub-check.py): avoid check C++98 & C++11
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix: avoid C4530
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix: overflow
  docs/graph/code/color/color_1.cpp
  docs/graph/code/tree-hash/tree-hash_1.cpp
  docs/misc/code/mo-algo-secondary-offline/mo-algo-secondary-offline_1.cpp
Owners: none

style: tiny change
  docs/basic/code/greedy/greedy_1.cpp
  docs/basic/code/prefix-sum/prefix-sum_4.cpp
  docs/ds/code/binary-heap/binary-heap_1.cpp
  docs/ds/code/kdt/kdt_2.cpp
  docs/ds/code/seg/seg_8.cpp
  docs/graph/code/graph-matching/bigraph-weight-match/bigraph-weight-match_2.cpp
  docs/graph/code/graph-matching/general-match/general-match_1.cpp
  docs/graph/code/steiner-tree/steiner-tree_1.cpp
  docs/topic/code/segment-tree-offline/segment-tree-offline_2.cpp
  docs/topic/code/segment-tree-offline/segment-tree-offline_3.cpp
  docs/topic/code/segment-tree-offline/segment-tree-offline_4.cpp
Owners: none

fix: avoid <chrono>
  docs/ds/code/ett/ett_connectivity.cpp
  docs/ds/code/ett/ett_subtree_size.cpp
  docs/graph/code/graph-matching/general-match/general-match_2.cpp
  docs/graph/code/tree-hash/tree-hash_1.cpp
  docs/graph/code/tree-hash/tree-hash_2.cpp
  docs/graph/code/tree-hash/tree-hash_3.cpp
  docs/graph/code/tree-hash/tree-hash_4.cpp
Owners: none

fix: spaces
  docs/basic/examples/greedy/greedy_1.ans
  docs/basic/examples/greedy/greedy_1.in
  docs/ds/examples/seg/seg_8.ans
  docs/graph/examples/cut/cut_1.ans
  docs/graph/examples/dom-tree/dom-tree_1.ans
  docs/graph/examples/graph-matching/general-match/general-match_2.ans
  docs/graph/examples/tree-hash/tree-hash_2.ans
  docs/graph/examples/tree-hash/tree-hash_2.in
  docs/graph/examples/tree-hash/tree-hash_3.ans
  docs/graph/examples/tree-hash/tree-hash_3.in
  docs/misc/examples/cdq-divide/cdq-divide_3.ans
  docs/misc/examples/hill-climbing/hill-climbing_1.ans
Owners: none

fix: make checker happy
  docs/dp/code/opt/quadrangle/quadrangle_3.cpp
  docs/ds/code/dividing/dividing_1.cpp
  docs/ds/code/ett/ett_connectivity.cpp
  docs/ds/code/ett/ett_subtree_size.cpp
  docs/ds/code/tree-decompose/tree-decompose_1.cpp
  docs/geometry/code/scanning/scanning_2.cpp
  docs/graph/code/bcc/bcc_2.cpp
  docs/graph/code/bcc/bcc_3.cpp
  docs/graph/code/euler/euler_1.cpp
  docs/graph/code/graph-matching/general-match/general-match_1.cpp
  docs/graph/code/hld/hld_3.cpp
  docs/graph/code/lca/lca_2.cpp
  docs/graph/code/mst/mst_2.cpp
  docs/math/code/min-25/min-25_1.cpp
  docs/math/code/pollard-rho/pollard-rho_1.cpp
  docs/misc/code/cdq-divide/cdq-divide_4.cpp
  docs/misc/code/mo-algo-secondary-offline/mo-algo-secondary-offline_1.cpp
  docs/misc/code/modifiable-mo-algo/modifiable-mo-algo_1.cpp
  docs/search/code/idastar/idastar_1.cpp
Owners: none

feat(graph/matrix-tree): 补充证明细节，调整文章结构 (#5882)
  docs/graph/matrix-tree.md
Owners: none

fix(pollard-rho): 修改typo、补充文献
  docs/math/number-theory/pollard-rho.md
Owners: none

style: format markdown files with remark-lint
  docs/math/number-theory/pollard-rho.md
Owners: none

fix(pollard-rho): 隐藏证明块
  docs/math/number-theory/pollard-rho.md
Owners: none

fix(math/number-theory/pollard-rho.md): 修改部分细节错误 (#5879)
  docs/math/number-theory/pollard-rho.md
Owners: none

fix(lang/value-category.md): 改善了值类别的页面内容 (#5902)
  docs/lang/value-category.md
Owners: none

feat(tools/editor/codeblocks.md): 添加Code::Blocks的调试提醒和美化步骤
  docs/tools/editor/codeblocks.md
Owners: none

style: format markdown files with remark-lint
  docs/tools/editor/codeblocks.md
Owners: none

feat(geometry/convex-hull.md): 增加凸包的闵可夫斯基和 (#5647) (#5800)
  docs/geometry/code/convex-hull/convex-hull_1.cpp
  docs/geometry/convex-hull.md
  docs/geometry/examples/convex-hull/convex-hull_1.ans
  docs/geometry/examples/convex-hull/convex-hull_1.in
  docs/geometry/images/convex-hull1.ggb
  docs/geometry/images/convex-hull1.svg
  docs/geometry/images/convex-hull2.ggb
  docs/geometry/images/convex-hull2.svg
  docs/geometry/images/convex-hull3.ggb
  docs/geometry/images/convex-hull3.svg
Owners: none

feat(dp/tree.md): 添加树形 DP 常见状态和转移思路 (#5850)
  docs/dp/tree.md
Owners: none

fix(value-category.md): typo
  docs/lang/value-category.md
Owners: none

fix(value-category.md): typo
  docs/lang/value-category.md
Owners: none

fix(math/number-theory/basic.md): 修改内容层级关系&修正函数性质及删去附带的加性函数表述
  docs/math/number-theory/basic.md
Owners: none

feat(tree-center.md): 添加了有关树的中心的相关信息。(#5905)
  docs/graph/tree-center.md
  mkdocs.yml
Owners: none

style: format markdown files with remark-lint
  docs/graph/tree-center.md
Owners: none

add snippet test
  docs/math/bignum.md
  docs/math/code/bignum/bignum_1.aux1.cpp
  docs/math/code/bignum/bignum_1.cpp
Owners: none

style: format markdown files with remark-lint
  docs/math/code/bignum/bignum_1.aux1.cpp
Owners: none

feat: update feedback-sys to v0.5.11
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: update feedback-sys to v0.5.11 (#5910)
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat(math/number-theory/basic.md): 将积性函数移至数论函数下，补充加性函数内容
  docs/math/number-theory/basic.md
Owners: none

feat(math/number-theory/basic.md): 修正格式
  docs/math/number-theory/basic.md
Owners: none

fix(math/number-theory/basic.md): 修正格式
  docs/math/number-theory/basic.md
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci
