Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

Update euler-totient.md
  docs/math/number-theory/euler-totient.md
Owners: none

feat(math/number-theory/euler-totient): 补充应用部分，修正少量格式 (#5890)
  docs/math/number-theory/euler-totient.md
Owners: none

Apply suggestions from code review
  docs/math/poly/linear-recurrence.md
Owners: none

Update convex-hull_1.cpp
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

refactor(linear-recurrence.md): 重写然后加了 Bostan--Mori 算法 (#5615)
  docs/math/poly/linear-recurrence.md
Owners: none

Update plot256.svg
  docs/string/images/BM/plot256.svg
Owners: none

Update plot4.svg
  docs/string/images/BM/plot4.svg
Owners: none

Update bm.md
  docs/string/bm.md
Owners: none

style: format markdown files with remark-lint
  docs/string/bm.md
Owners: none

feat(basic/index.md): 增加算法基础部分的综述
  docs/basic/index.md
Owners: none

fix(.github/workflow): 修改了安装 pipenv 的方式
  .github/workflows/build.yml
  .github/workflows/celebration.yml
  .github/workflows/config_test.yml
  .github/workflows/test.yml
Owners: @billchenchina, @ouuan

fix(scripts/netlify/install-python.sh): 修改安装 pipenv 的方式
  scripts/netlify/install-python.sh
Owners: @Ir1d, @billchenchina

fix typo
  scripts/netlify/install-python.sh
Owners: @Ir1d, @billchenchina

fix(.github/workflow & scripts/netlify/install-python.sh): 修改了安装 pipenv 的方式 (#5895)
  .github/workflows/build.yml
  .github/workflows/celebration.yml
  .github/workflows/config_test.yml
  .github/workflows/test.yml
  scripts/netlify/install-python.sh
Owners: @billchenchina, @ouuan, @Ir1d

feat(basic/index.md): 增加算法基础部分的综述 (#5894)
  docs/basic/index.md
Owners: none

fix(convex-hull_1.cpp): make MSVC happy
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

fix(bm.md): title
  docs/string/bm.md
Owners: none

style: format markdown files with remark-lint
  docs/string/bm.md
Owners: none

fix(convex-hull_1.cpp): avoid 0xC00000FD in Windows
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

Update bm.md
  docs/string/bm.md
Owners: none

style: format markdown files with remark-lint
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

style: format markdown files with remark-lint
  docs/string/bm.md
Owners: none

refactor(convex-hull_1.cpp): better impl
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

Update convex-hull_1.cpp
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

style: format markdown files with remark-lint
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

fix(string-bm): formalize (#5845)
  docs/string/bm.md
  docs/string/images/BM/plot256.svg
  docs/string/images/BM/plot4.svg
Owners: none

fix(convex-hull_1.cpp): under C++11
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

style: format markdown files with remark-lint
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

Update convex-hull_1.cpp
  docs/geometry/code/convex-hull/convex-hull_1.cpp
Owners: none

明确适用范围
  docs/math/number-theory/min-25.md
Owners: none

Update convex-hull.md
  docs/geometry/convex-hull.md
Owners: none

fix(math/number-theory/min-25.md): 明确min_25筛的适用范围 (#5897)
  docs/math/number-theory/min-25.md
Owners: none

chore: upgrade feedback sys to v0.5.9 and enable it for all users🎉
  Pipfile
  Pipfile.lock
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

chore: upgrade feedback sys to v0.5.9 and enable it for all users🎉
  Pipfile
  Pipfile.lock
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

fix class.md
  docs/lang/class.md
Owners: none

fix(lang/class.md): typo (#5900)
  docs/lang/class.md
Owners: none

fix(matrix-tree): typo
  docs/graph/matrix-tree.md
Owners: none

chore: bump feedback sys to v0.5.10
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

chore: bump feedback sys to v0.5.10
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

Update value-category.md
  docs/lang/value-category.md
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci
