Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci

fix: remove incorrect description in thanks.md
  docs/intro/thanks.md
Owners: none

fix: remove incorrect description in thanks.md (#5819)
  docs/intro/thanks.md
Owners: none

fix: missing stringToHash function
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

feat: update version tag
  mkdocs.yml
Owners: none

fix: missing stringToHash function (#5820)
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
Owners: none

fix(berlekamp-massey.md): 修复公式错误 (#5749)
  docs/math/berlekamp-massey.md
Owners: none

chore: bump feedback-sys version to 0.4.0
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

refactor: relocate backend url
  scripts/post-build/inject-feedback-sys-frontend/task-handler.ts
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

chore: bump feedback sys 0.4.0 (#5822)
  Pipfile
  Pipfile.lock
  package.json
  scripts/post-build/inject-feedback-sys-frontend/task-handler.ts
  scripts/update-feedback-sys-meta.py
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113, @billchenchina

feat: check UB
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
  scripts/correctness_check.py
  scripts/get_files_to_test.py
  scripts/sum_up.py
  scripts/test.py
  scripts/ub_check_alpine.py
  scripts/ub_check_macos.py
  scripts/ub_check_riscv.py
  scripts/ub_check_ubuntu.py
  scripts/ub_check_windows.py
Owners: @Ir1d, @billchenchina

remove: remove demo code for formal PR
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

del: remove useless files
  scripts/ub-check-any.py
  scripts/ub_check_alpine.py
  scripts/ub_check_macos.py
  scripts/ub_check_riscv.py
  scripts/ub_check_ubuntu.py
  scripts/ub_check_windows.py
Owners: @Ir1d, @billchenchina

fix: charset problem in win
  scripts/ub-check-any.py
Owners: @Ir1d, @billchenchina

1
  .github/workflows/test.yml
  scripts/sum-up.py
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix: g++ to g++-13
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix: path error in win
  scripts/ub-check-any.py
Owners: @Ir1d, @billchenchina

fix: typo
  .github/workflows/test.yml
Owners: none

refractor: merge all ub-checks into ub-check-any
  .github/workflows/test.yml
  scripts/ub-check-any.py
Owners: @Ir1d, @billchenchina

fix: remove -static
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix: NOI gcc version, std version
  .github/workflows/test.yml
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

Revert "remove: remove demo code for formal PR"
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

fix: remove sudo
  .github/workflows/test.yml
Owners: none

Reapply "remove: remove demo code for formal PR"
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

chore: bump feedback-sys version to 0.5.0
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

chore: update content script version tag
  mkdocs.yml
Owners: none

chore: bump feedback-sys version to 0.5.0 (#5823)
  Pipfile
  Pipfile.lock
  mkdocs.yml
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: more friendly paragraph enable
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
Owners: none

feat: more friendly paragraph enable (#5824)
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
Owners: none

feat: feedback sys pre build
  .github/workflows/build.yml
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
  scripts/post-build/feedback-sys/task-handler.ts
  scripts/post-build/html-postprocess.ts
  scripts/post-build/inject-feedback-sys-frontend/task-handler.ts
  scripts/pre-build/install-feedback-sys-frontend.ts
  scripts/pre-build/pre-build.sh
Owners: @billchenchina, @Ir1d

refactor: migrate post-build script
  .github/workflows/build.yml
  scripts/post-build/feedback-sys/task-handler.ts
  scripts/post-build/html-postprocess.ts
  scripts/update-feedback-sys-meta.py
Owners: @billchenchina, @Ir1d

fix: remove deleted file
  scripts/pre-build/install-feedback-sys-frontend.ts
Owners: @Ir1d, @billchenchina

chore: update comment
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

ci: run update meta after build success
  .github/workflows/update-feedback-sys-meta.yml
Owners: none

ci: move workflow to build
  .github/workflows/build.yml
  .github/workflows/update-feedback-sys-meta.yml
Owners: @billchenchina

refactor: skip when administrator secret not set
  .github/workflows/build.yml
  scripts/update-feedback-sys-meta.py
Owners: @billchenchina, @Ir1d

feat(string/sa.md): 更换文章源
  docs/string/sa.md
Owners: none

ci: raise exception if req failed
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

feat: feedback sys pre build (#5826)
  .github/workflows/build.yml
  .github/workflows/update-feedback-sys-meta.yml
  docs/_static/js/oiwiki-feedback-sys-frontend.js
  mkdocs.yml
  scripts/post-build/html-postprocess.ts
  scripts/post-build/inject-feedback-sys-frontend/task-handler.ts
  scripts/pre-build/install-feedback-sys-frontend.ts
  scripts/pre-build/pre-build.sh
  scripts/update-feedback-sys-meta.py
Owners: @billchenchina, @Ir1d

fix: emptyset
  docs/graph/graph-matching/graph-match.md
Owners: none

fix(graph/graph-matching/graph-match.md): eliminate `emptyset` (#5828)
  docs/graph/graph-matching/graph-match.md
Owners: none
