Repository OI-wiki/OI-wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ir1d, @Enter-tainer, @billchenchina, @Menci, @ouuan, @CoelacanthusHex, @shuzhouliu, @Junyan721113

ci: log message
  scripts/update-feedback-sys-meta.py
Owners: @Ir1d, @billchenchina

chore: bump feedback-sys to 0.5.1
  Pipfile
  Pipfile.lock
  package.json
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113

feat: feedback sys 0.5.1 (#5829)
  Pipfile
  Pipfile.lock
  package.json
  scripts/update-feedback-sys-meta.py
  yarn.lock
Owners: @Ir1d, @Enter-tainer, @Junyan721113, @billchenchina

Apply suggestions from code review
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix(complexity.md): 在原界面增加链接
  docs/basic/complexity.md
Owners: none

<fix>(value-category.md) : Fixed spelling errors of vector
  docs/lang/value-category.md
Owners: none

fix(value-category.md) : Fixed spelling errors of vector (#5830)
  docs/lang/value-category.md
Owners: none

Update ac-automaton_topu.cpp
  docs/string/code/ac-automaton/ac-automaton_topu.cpp
Owners: none

Update ac_automaton_luoguP2292.cpp
  docs/string/code/ac-automaton/ac_automaton_luoguP2292.cpp
Owners: none

Update ac-automaton.md
  docs/string/ac-automaton.md
Owners: none

fix: 修复了将区间值设为0时懒惰标记完全不生效的问题
  docs/ds/code/seg/seg_5.hpp
Owners: none

Update seg_5.hpp
  docs/ds/code/seg/seg_5.hpp
Owners: none

fix(docs/ds/code/seg/seg_5.hpp): 修复了将区间值设为0时懒惰标记完全不生效的问题 (#5833)
  docs/ds/code/seg/seg_5.hpp
Owners: none

feat: enable feedback sys for all giscus users
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

feat: enable feedback sys for all giscus users (#5834)
  docs/_static/js/oiwiki-feedback-sys-frontend.js
Owners: none

feat(general.md): 增加新的部分分写法：quitp
  docs/tools/testlib/general.md
Owners: none

fix(general.md): 修正quitp的描述
  docs/tools/testlib/general.md
Owners: none

refractor(sum-up.py): use arr(sysinfo, output)
  scripts/sum-up.py
Owners: @Ir1d, @billchenchina

style: format markdown files with remark-lint
  docs/tools/testlib/general.md
Owners: none

mod: use join
  scripts/sum-up.py
Owners: @Ir1d, @billchenchina

Revert "remove: remove demo code for formal PR"
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

Reapply "remove: remove demo code for formal PR"
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

fix(general.md): 修正quitp的描述，部分oj的范围不同
  docs/tools/testlib/general.md
Owners: none

fix(general.md): 删除文末句号
  docs/tools/testlib/general.md
Owners: none

style: format markdown files with remark-lint
  docs/tools/testlib/general.md
Owners: none

fix: alpha, beta 为正整数
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

refractor(ub-check.py): use sum type
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

Revert "remove: remove demo code for formal PR"
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

fix: 向下取整
  docs/math/number-theory/sqrt-decomposition.md
Owners: none

fix: typealias is from py3.10
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

refractor(sum-up.py): move sysinfo to h3;
  scripts/sum-up.py
Owners: @Ir1d, @billchenchina

refractor(sum-up.py): better log
  scripts/sum-up.py
Owners: @Ir1d, @billchenchina

Update docs/tools/testlib/general.md
  docs/tools/testlib/general.md
Owners: none

style: format markdown files with remark-lint
  docs/tools/testlib/general.md
Owners: none

refractor(ub-check.py): use parent class Status
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

feat(general.md): 增加新的部分分写法：quitp (#5835)
  docs/tools/testlib/general.md
Owners: none

update: non-default argument
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

Reapply "remove: remove demo code for formal PR"
  .github/workflows/test.yml
  docs/ubcheck/code/common-ub/code1.cpp
  docs/ubcheck/code/multifile/code1.aux1.cpp
  docs/ubcheck/code/multifile/code1.cpp
  docs/ubcheck/code/optim-related/code1.cpp
  docs/ubcheck/code/primary/code1.cpp
  docs/ubcheck/code/primary/code2.cpp
  docs/ubcheck/examples/common-ub/code1.ans
  docs/ubcheck/examples/common-ub/code1.in
  docs/ubcheck/examples/multifile/code1.ans
  docs/ubcheck/examples/multifile/code1.in
  docs/ubcheck/examples/multifile/code1.test2.ans
  docs/ubcheck/examples/multifile/code1.test2.in
  docs/ubcheck/examples/optim-related/code1.ans
  docs/ubcheck/examples/optim-related/code1.in
  docs/ubcheck/examples/primary/code1.ans
  docs/ubcheck/examples/primary/code1.in
Owners: none

update: wrapper for colored log
  scripts/ub-check.py
Owners: @Ir1d, @billchenchina

fix(mkdocs.yml): 修改目录结构
  mkdocs.yml
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

.github/config.yml  @Ir1d
.github/pull_request_template.md    @Ir1d
.github/workflows/build-pdf.yml	@Enter-tainer
.github/workflows/build.yml @billchenchina
.github/workflows/build-authors-cache.yml @Menci
.github/workflows/celebration.yml   @ouuan
.github/workflows/pr-stale.yml	@CoelacanthusHex
.github/ISSUE_TEMPLATE/	@Ir1d
.github/CONTRIBUTING.md	@Ir1d @shuzhouliu
.github/FUNDING.yml @Ir1d
scripts/    @Ir1d @billchenchina
.prettierrc   @Menci
scripts/checker/    @Junyan721113
.clang-format   @Ir1d
.remarkignore   @Enter-tainer
.remarkrc   @Ir1d @Enter-tainer
CODE_OF_CONDUCT.md  @Ir1d
README.md   @Ir1d
gulpfile.cjs @Ir1d @Enter-tainer
package.json    @Ir1d @Enter-tainer @Junyan721113
Pipenv    @Ir1d
tsconfig.json @Menci
netlify.toml @Menci
